.app__search{
    margin-top: 5vh;
    width: 80vw;
    background-color: #074e4e;
    height: 100%;
    &-text{
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;
        padding-right: 500px;
        text-shadow: 1px 1px 5px #000a0a;
    }
}
.search__block{
    display: flex;
    flex-direction: row;
}
.search__block-grid{
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 25px;
        row-gap: 30px;
        padding-bottom: 100px;
        margin-left: 50px;
        margin-top: 30px;
}