.app{
    &__main{
        margin-top: 30px;
        width: 85vw;
        height: 100%;
        background-color: #074e4e;
        border: 1px solid #000;
        display: flex;
        &-grid{
            display: grid;
            grid-template-columns: repeat(3, 200px);
            column-gap: 25px;
            row-gap: 30px;
            padding-bottom: 100px;
            margin-left: 50px;
            margin-top: 30px;
        }
        &-form{
            margin-left: 10%;
            font-size: 40px;
            input{
                margin-top: 50px;
                height: 45px;
                border-radius: 5px;
            }
            button{
                width: 150px;
                height: 45px;
                background-color: #838282;
                &:hover{
                    background-color: #64affa;
                }
                border-radius: 5px;
            }
        }
    }
}
.char {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px; 
        column-gap: 25px;
        align-items: start;
    }
    &__item {
        width: 200px;
        height: 318px;
        background-color: #434141;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }
        button{
            margin-top: 10px;
            height: 25px;
            border-radius: 5px;
            font-weight: 800;
            border: 1px solid #000;
            box-shadow: 1px 1px 5px #000;
            &:hover{
                background-color:  #64affa;;
            }
        }
        &_selected {
            box-shadow: 0 5px 20px #000;
            transform: translateY(-8px);
        }
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 700ms ease-in;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 700ms ease-in;
        }
    }
    &__img-default{
        object-fit: fill !important;
    }
    &__name {
        font-weight: bold;
        font-size: 12px;
        line-height: 22px;
        text-transform: uppercase;
        color: #fff;
    }
    &__item-playedby{
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            text-transform: uppercase;
            color: #fff;
    }
}