.char__info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &-favorite {
        height: 40px;
        width: 150px;
        margin-left: 25px;
    }
    &-items {
        width: 600px;
        height: 100%x;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 800;
    }
    &-descr {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div {
            height: 20%;
            text-align: start;
            vertical-align: middle;
            padding-top: 10px;
        }
    }
}
.char__image-info {
    width: 55%;
    height: 55%;
}
.button__info-block {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #838282;
    margin-bottom: 10px;
    &:hover {
        background-color: #64affa;
    }
}
.char__info-block-button {
    position: absolute;
    top: 18px;
    right: 25%;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 8px #000;
    &:hover {
        background-color: #64affa;
    }
}
